body {
  background-color:rgba(255, 255, 255, 0.877);
  color: black;
 	/* font-family: sans-serif; */
}

.c2x2 {
	height: 111px;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.c2x2 {
		height: 113px;
	}
}
@media (min-width: 1200px) {
	.c2x2 {
		height: 98px;
	}
}
.bg-hover-primary {
    background-color: #e9ecef; /* Default background color (Bootstrap's bg-body-tertiary) */
    transition: background-color 0.3s; /* Smooth transition */
}
.bg-hover-primary:hover {
    background-color: rgba(227, 229, 231, 100) !important; /* Background color on hover */
}
@media (min-width: 1024px) {
	.hidden-div {
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}
	.parent-div:hover .hidden-div {
		opacity: 1;
	}
}

.logo {
	max-width: 50%;
	height: auto;
}
@media (min-width: 0px) and (max-width: 400px) {
	.logo {
		max-width: 40%;
		height: auto;
	}
}
@media (min-width: 401px) and (max-width: 575px) {
	.logo {
		max-width: 30%;
		height: auto;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.logo {
		max-width: 40%;
		height: auto;
	}
}
@media (min-width: 1200px) {
	.logo {
		max-width: 30%;
		height: auto;
	}
}
@media (min-width: 1400px) {
	.logo {
		max-width: 25%;
		height: auto;
	}
}

.school {
	max-width: 70%;
	height: auto;
}
@media (min-width: 400px) {
	.school {
		max-width: 60%;
		height: auto;
	}
}
@media (min-width: 576px) {
	.school {
		max-width: 100%;
		height: auto;
	}
}
@media (min-width: 768px) {
	.school {
		max-width: 80%;
		height: auto;
	}
}
@media (min-width: 1400px) {
	.school {
		max-width: 70%;
		height: auto;
	}
}
