body {
  background-color:rgba(255, 255, 255, 0.877);
  color: black;
 	/* font-family: sans-serif; */
  height: 2000px;
}

.c2x2 {
	height: 111px;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.c2x2 {
		height: 95.7px;
	}
}
@media (min-width: 1200px) {
	.c2x2 {
		height: 98px;
	}
}
.bg-hover-primary {
    background-color: #e9ecef; /* Default background color (Bootstrap's bg-body-tertiary) */
    transition: background-color 0.3s; /* Smooth transition */
}
.bg-hover-primary:hover {
    background-color: rgba(227, 229, 231, 100) !important; /* Background color on hover */
}
